.container {
    margin-top: 40px;
  }
  
  .horizontal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .progress-bar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom-progress-line {
    height: 3px;
    background-color: #007bff; /* Blue color for progress line */
  }
  
  .horizontal-form-box {
    width: 100%;
    max-width: 400px; /* Set maximum width for form box */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .horizontal-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .horizontal-subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .o3-form-group {
    margin-bottom: 20px;
  }
  
  .o3-form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error-message {
    color: #dc3545; /* Red color for error messages */
    font-size: 14px;
    margin-top: 5px;
  }
  
  .o3-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff; /* Blue color for button background */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .o3-btn-primary {
    background-color: #007bff;
  }
  
  .o3-btn-block {
    display: block;
  }
  
  .o3-btn-primary:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  